.login .roundedBtn {
  background-color: #dee2ff;
  color: black;
  font-family: "Syne", sans-serif;
  width: 300px;
  margin-left: 20%;
  box-shadow: 0px 1px 2px #888888;
  border: 0;
  border-radius: 15px;
}

.login .roundedBtn:hover {
  background-color: #d58b96;
  color: white;
}

.login .googlebtn {
  background-color: #edd2d6;
  text-align: center;
  font-size: small;
  color: black;
}

.login h5 {
  color: #d58b96;
  font-family: "Syne", sans-serif;
  margin-left: 40%;
}

.login .modalBodyBtn {
  background-color: #dee2ff;
  color: black;
  font-family: "Syne", sans-serif;
  width: 300px;
  margin-left: 20%;
  box-shadow: 0px 1px 2px #888888;
  border: 0;
  border-radius: 15px;
}

.login .choseModalBtn {
  background-color: white;
  color: #d58b96;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login .choseModalBtn:hover {
  background-color: #d58b96;
  color: white;
}

.login .joinusBtn {
  border: 2px solid #d58b96;
}

.login .input {
  margin-bottom: 30px;
  width: 300px;
  margin-left: 20%;
  padding-top: 15px;
  padding-bottom: 12px;
  border-radius: 12px;
  border: 0;
}
